/*menu-list
    ==============================================================================
*/

.menu-list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: black;
    margin: 0;
    padding: 0;
    z-index: -1;
}

.menu-list .breakfast {
    list-style: none;
    position: unset;
    width: 25%;
    height: 100%;
    float: left;
    text-align: center;
    overflow: hidden;
    transition: .2s;
    -webkit-transition: .2s;
}

.menu-list .lunch {
    list-style: none;
    position: relative;
    width: 25%;
    height: 100%;
    border-left: 1px solid gold;
    border-right: 1px solid gold;
    float: left;
    text-align: center;
    overflow: hidden;
    transition: .2s;
    -webkit-transition: .2s;
}

.menu-list .dinner {
    list-style: none;
    position: relative;
    width: 25%;
    height: 100%;
    border-right: 1px solid gold;
    float: left;
    text-align: center;
    overflow: hidden;
    transition: .2s;
    -webkit-transition: .2s;
}

.menu-list .drinks {
    list-style: none;
    position: relative;
    width: 25%;
    height: 100%;
    border-right: 1px solid gold;
    float: left;
    text-align: center;
    overflow: hidden;
    transition: .2s;
    -webkit-transition: .2s;
}

.menu-list:hover li {
    width: 15%;
}

.menu-list li:hover {
    width: 55%;
}

/*menu-content
    ==============================================================================
*/

.menu-list .breakfast .menu-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,.75);
    color: white;
    opacity: 1;
    height: 100vh;
    padding-top: 50vh;
    text-align: center;
    padding-right: 75vw;
}

.menu-list .lunch .menu-content,
.menu-list .dinner .menu-content,
.menu-list .drinks .menu-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,.75);
    color: white;
    opacity: 1;
    height: 100vh;
    padding-top: 50vh;
    text-align: center;
}

.menu-list .breakfast .menu-content:hover {
    padding-right: 45vw;
}

@media (min-width: 40rem) {
    .menu-list .breakfast .menu-content:hover {
    padding-right: 45vw;
    }
}

@media (min-width: 40rem) {
    .menu-list .lunch .menu-content,
    .menu-list .dinner .menu-content,
    .menu-list .drinks .menu-content {
        padding-top: 40vh;
        opacity: 0;
    }
    .menu-list .breakfast .menu-content {
        padding-top: 40vh;
        padding-right: 45vw;
        opacity: 0;
    }
}

.menu-list li:hover .menu-content {
    bottom: 0;
    transition: 0s;
    -webkit-transition: 0s;
    transition-delay: 0s;
    -webkit-transition-delay: 0s;
    opacity: 1;
}

@media (min-width: 40rem) {
    .menu-list li:hover .menu-content {
        transition: .5s;
        -webkit-transition: .5s;
        transition-delay: .5s;
        -webkit-transition-delay: .5s;
    }
}

/*menu-list li:nth-child
    ==============================================================================
*/

.menu-list li:nth-child(1)
{
    background-image: url(img/breakfast-menu.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.menu-list li:nth-child(2)
{
    background-image: url(img/lunch-menu.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.menu-list li:nth-child(3)
{
    background-image: url(img/dinner-home.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.menu-list li:nth-child(4)
{
    background-image: url(img/drinks1.png);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

.menu-content-font li {
    font-family: 'Alex Brush', sans-serif;
    font-size: 2.5em;
}

@media (min-width: 40rem) {
    .menu-content-font li {
        font-family: 'Alex Brush', sans-serif;
        font-size: 5em;
    }
}

/*nav a
    ==============================================================================
*/
